header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: getMapValue($color, 'cinderellaLight');
    box-shadow: 0 0 10px #ccc;

    p {
        padding: 0 20px;
        min-width: 300px;
    }

    .currentPage {
        text-align: end;
    }

    nav {
        display: flex;
        flex-direction: row;

        a {
            margin-right: 12px;
            text-decoration: none;
            color: getMapValue($color, 'grayDark');

        }
    }
}
